DevelopingOnAWS/state-machine.json
{
    "StartAt": "Check Stock Price",
    "States": {
        "Check Stock Price": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-3:637423642269:function:StepFunctionDemo-StockOrder-CheckStockPriceLambda-AWfzBiNP858K",
            "Next": "Generate Buy/Sell recommendation"
        },
        "Generate Buy/Sell recommendation": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-3:637423642269:function:StepFunctionDemo-StockOrd-GenerateBuySellRecommend-nsIzIcyH1ZUT",
            "ResultPath": "$.recommended_type",
            "Next": "Request Human Approval"
        },
        "Request Human Approval": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
            "Parameters": {
                "QueueUrl": "https://sqs.eu-west-3.amazonaws.com/637423642269/StepFunctionDemo-StockOrder-RequestHumanApprovalSqs-B5ZwKtbPWdb3",
                "MessageBody": {
                    "Input.$": "$",
                    "TaskToken.$": "$$.Task.Token"
                }
            },
            "ResultPath": null,
            "Next": "Buy or Sell?"
        },
        "Buy or Sell?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.recommended_type",
                    "StringEquals": "buy",
                    "Next": "Buy Stock"
                },
                {
                    "Variable": "$.recommended_type",
                    "StringEquals": "sell",
                    "Next": "Sell Stock"
                }
            ]
        },
        "Buy Stock": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-3:637423642269:function:StepFunctionDemo-StockOrder-BuyStockLambda-FyIvIDZLdgNk",
            "Next": "Report Result"
        },
        "Sell Stock": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-3:637423642269:function:StepFunctionDemo-StockOrder-SellStockLambda-JUN72JssDOkf",
            "Next": "Report Result"
        },
        "Report Result": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "arn:aws:sns:eu-west-3:637423642269:StepFunctionDemo-StockOrder-ReportResultSnsTopic-0Yq6WDULBAD6",
                "Message": {
                    "Input.$": "$"
                }
            },
            "End": true
        }
    }
}